@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-y: scroll;
  --secondary: rgb(161, 161, 161);
  --divider: #343434;
}
#root {
  display: flex;
  justify-content: center;
}

p {
  color: #9d9ca1;
  font-size: 20px;
  line-height: 28px;
}
